---
---
<header>
  <a href="/">vibestats</a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/docs/quickstart">Docs</a></li>
      <li>
        <a
          href="https://github.com/stephenleo/vibestats"
          target="_blank"
          rel="noopener noreferrer"
        >GitHub</a>
      </li>
    </ul>
  </nav>
</header>
